<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h1>Structural Directive</h1>
    <p>*ngIf</p>
</div>
<p>ng-if works!</p>

<div class="row pt-3">

    <div class="col-3"> @if(isDiv1Visible){
        <div  class="bg-danger p-3 text-center">

            <h4>Div-1 </h4>

        </div>}
    </div>

    <div class="col-3">
        <div *ngIf="isDiv2Visible" class="bg-success p-3 text-center">

            <h4>Div-2 </h4>

        </div>
    </div>

    <div class="col-3">@if(num1 == num2) {
        <div class="bg-secondary p-3 text-center">

            <h4>Div-3 </h4>

        </div>
    }
    </div>

    <div class="col-3"> @if (selectedState == 'India'){
        <div class="bg-primary p-3 text-center">

            <h4>Div-4 </h4>

        </div>
    }
    </div>

</div>


<div class="row pt-3">

    <div class="col-3 text-center">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide</button>

        <button class="btn btn-primary mx-2" (click)="showDiv1()">Show</button>
    </div>

    <div class="col-3 text-center">
        <button class="btn btn-success" (click)="toggleDiv2()">Toggle</button>
    </div>

    <div class="col-3">
        <div style="display: flex;align-items:center">
            <input type="text" [(ngModel)]="num1" placeholder="Num-1" class="w-50">

            <input type="text" [(ngModel)]="num2" placeholder="Num-2" class="w-50">
        </div>
    </div>

    <div class="col-3">
        <div style="display: flex ;align-items:center">
            <input type="checkbox" [(ngModel)]="isActive" class="w-50">
            <select [(ngModel)]="selectedState">
                <option value="">Select State</option>
                <option value="India">India</option>
                <option value="USA"> USA</option>
                <option value="Shri Lanka"> Shri Lanka</option>
            </select>
        </div>
    </div>

</div>