<div class="p-2 bg-secondary text-white " style="background-color: #427D9D !important;">
    <h1>Data Binding</h1>
    <p>data-binding works!</p>
</div>

<div>
    <div class="row">
        <div class="col-6">
            1.interpolation

            <p>firstName => {{firstName}} </p>
            <div>{{rollNo}} </div>
        </div>

        <div class="col-6">
            2.propertybinding

            <input type="text" [value]="firstName" name="" id="">
            <br>
            <input type="text" [placeholder]="myPlaceholder" name="" id="">
            <br>
            <div [class]="divClassName" style="height: 100px; width: 100px;"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
           3.Event Binding
            <button class="btn btn-success" (click)="showWelcomeMessage()">Show Welcome Text</button>
        </div>

        <div class="col-3">
            <select (change)="onChangeCity()">
                <option value="Pune">Pune</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Goa">Goa</option>
            </select>
        </div>
    </div>

    <!-- Two Way Data Binding -->
    <div class="row">
        <div class="col-3">
            <!-- To use ngModule first import FormsModule in (app.module.ts) -->
            <input type="text" [(ngModel)]="firstName">
        </div>

        <div class="col-3">
            <select [(ngModel)]="selectedCity">
                <option value="Pune">Pune</option>
                <option value="Nagpur">Nagpur</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Goa">Goa</option>
            </select>
            {{selectedCity}}  
        </div>
    </div>
</div>

<div class="mt-3">
    <img src="/public/vivid.jpg" alt="" height="500px" width="500px">
</div>