<p>form-Array works!</p>


<div class="d-flex justify-content-center m-5 p-3 ">
    <form [formGroup]="form">
        <div formArrayName="locations">
            <div *ngFor="let location of locations.controls; let i = index ;let last = last" [formGroupName]="i"
                style="margin-bottom: 10px; border: 1px solid #ccc; border-radius: 4px; padding: 10px;">

                <div class="row">

                    <div><strong>Location {{ i + 1 }}</strong></div>
                    <div class="col-12">
                        <label class="form-label">State :</label>
                        <input class="form-control" formControlName="state" />
                        @if(location.get('state')?.touched) {
                        <div class="text-danger">
                            @if(location.get('state')?.hasError('required')) {
                            <p>State is required</p>
                            }
                        </div>
                        }
                    </div>

                    <div class="col-12">
                        <label class="form-label">District :</label>
                        <input class="form-control" formControlName="district" />
                        @if(location.get('district')?.touched) {
                        <div class="text-danger">
                            @if(location.get('district')?.hasError('required')) {
                            <p>District is required</p>
                            }
                        </div>
                        }
                    </div>

                    <div class="col-12">
                        <label class="form-label">Village :</label>
                        <input class="form-control" formControlName="village" />
                        @if(location.get('village')?.touched) {
                        <div class="text-danger">
                            @if(location.get('village')?.hasError('required')) {
                            <p>Village is required</p>
                            }
                        </div>
                        }
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-danger w-20 my-3" type="button" (click)="removeLocation(i)"
                            *ngIf="locations.length > 1">
                            Remove
                        </button>

                        <button class="btn btn-outline-success w-20 m-3" *ngIf="last" type="button" (click)="addLocation()">Add Location</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end border rounded border-secondary-subtle">
        <!-- <button class="btn btn-outline-success w-20 m-3" type="button" (click)="addLocation()">Add Location</button> -->
        <button class="btn btn-outline-secondary w-20 my-3 me-3" type="button" (click)="resetArray()">Reset</button>
        <button class="btn btn-outline-primary w-20 my-3 me-3" type="button" (click)="onSubmit()">Submit</button>
        </div>

    </form>
</div>