<!-- <div class="app-wrapper">
    <div>
        <div>
            <app-header></app-header>
        </div>

        <router-outlet></router-outlet>
    </div>

    <div class="">
        <app-footer></app-footer>
    </div>

</div> -->


<!-- <app-header></app-header>
<h1>hello</h1> -->
<router-outlet></router-outlet>



<!-- <app-data-binding></app-data-binding>

<app-ng-if></app-ng-if>

<app-ng-for></app-ng-for>

<app-ng-class></app-ng-class>

<app-ng-style></app-ng-style>

<app-control-statement></app-control-statement>

<app-signal></app-signal>

<app-linked-signal></app-linked-signal> -->


<!-- <div style="height: 500px; width: 800px;">
<img style="height: 100dvh; width: 100dvw;" src="../../public/geo.svg" alt="">
</div> -->