<div class="container">
    <footer class="py-3">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="home">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="aboutus">About US</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary" routerLink="contactus">Contact US</a></li>
      </ul>
      <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
  </div>
